/**
 * Стили для модального окна "Запросить цену"
 */

/* Стили для кнопки "Запросить цену" */
.btn.request-price-button {
    width: 100%;
    margin-top: 2.5rem;
}

.request-price-button:hover {
    text-decoration: none;
}

.request-price-button:focus {
    outline: none;
}

/* Стили для модального окна */

/* Стили для формы Contact Form 7 */
#requestPriceModal .wpcf7-form {
    margin: 0;
}

#requestPriceModal .wpcf7-form p {
    margin: 0;
}

#requestPriceModal .wpcf7-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

#requestPriceModal .wpcf7-form input[type="submit"] {
    display: flex;
    width: 100%;
    max-width: 100%;
    margin-top: 3.5rem;
}

/* Стили для контейнера кнопки "Запросить цену" для вариаций */
.variation-request-price-container {
    margin-top: 15px;
}



/* Адаптивность */
@media (min-width: 576px) {
    .btn.request-price-button {
        width: auto;
        padding-inline: 2.25rem;
    }

    #requestPriceModal .wpcf7-form input[type="submit"] {
        width: auto;
        display: block;
        margin-inline: auto;
        --bs-btn-padding-x: 2.25rem;
    }
}


@media (max-width: 768px) {}